.nav-bar-2 
	background tomato
	
	nav
		z-index 9
		height auto 
		
		a.brand-logo
			color gray
			img 
				width 160px
				
		i.material-icons
			display inline
			float right
		
		ul
			li
				a
					color white
					
					i.material-icons
						font-size 1.5rem
						line-height 66px

					&:hover
						color black
						background none
		

		.info-box
			border-bottom 1px solid white