mixin nav-bar-2() 
	.nav-bar-2.margin15(class="row")
		nav.position-fixed.blue-1(class="nav-wrapper")
			div(class="col-md-3")
				.logo(class="col-md-12")
					a(href="#!" class="brand-logo")
						div(class="text-xs-center")
							img(src="img/logo.png" class="img-responsive")
				
				
			div(class="col-md-9")
				div(class="row")
					.info-box(class="col-md-12")
						+info()

					.links(class="col-md-12")
						ul(class="right hide-on-med-and-down")
							li
								a(href="") Home
									i(class="material-icons left") business
							li
								a(href="") Servicios
									i(class="material-icons left") assignment	
							li
								a(href="") Contacto
									i(class="material-icons left") contacts






	
