mixin info()
	div(class="container-fluid")
		.info.margin-bottom-0(class="row")
			.help(class="col-md-8")
				div(class="col-md-9")
					i(class="material-icons") comment
				div(class="col-md-3")
					.click(class="col-md-12")
						p click to
					.live(class="col-md-12")
						p LIVE HELP

			.call-us(class="col-md-4")
				div(class="col-md-3")
					i(class="material-icons") stay_primary_portrait

				div(class="col-md-4")
					.call(class="col-md-12")
						p call us
					.number(class="col-md-12")
						p +55-8990-8900					