.info
	.help
		height 50px
		border-right 1px solid white
		
		.click 
			height 20px
			p
				line-height 40px
				margin-left -20px		
		
		.live			p
				line-height 40px
				margin-left -20px
	
	.call-us
			
		.call 
			height 20px
			p
				line-height 40px
				margin-left -20px		
		
		.number			p
				line-height 40px
				margin-left -20px