include _mixins/main

<!DOCTYPE html>
html(
	lang="en"
	ng-app='dentist'
)
	head
		if base
			base(href=base)
			+head()

	body
		.general(class='container-fluid')
			block html
				<ng-view></ng-view>
		
		+scripts(scripts)