.container-fluid
	.my-navbar
		nav
			line-height 77px
			height 77px
			z-index 9
			
			a.brand-logo
				color gray
				img 
					width 160px
			ul
				li
					a
						color white
						
						i.material-icons
							font-size 1.5rem
							line-height 77px

						&:hover
							color black
							background none
			
