.container-fluid
	.my-navbar
		nav
			background #fff
			a
				color gray
			ul
				li
					a
						color gray
						
						i.material-icons
							font-size 1.5rem
							line-height 60px

						&:hover
							color #3F51B5
							background none
			
