.my-navbar(class="row").margin15
	nav(
		class="nav-wrapper"
	)
		a(href="#!" class="brand-logo") Logo
		ul(class="right hide-on-med-and-down")
			li
				a(href="") HOME
					i(class="material-icons left") business
			li
				a(href="") SERVICIOS
					i(class="material-icons left") assignment	
			li
				a(href="") CONTACTO
					i(class="material-icons left") contacts

	