.my-navbar(class="row").margin15
	nav(
		class="nav-wrapper"
	)
		a(href="#!" class="brand-logo") Logo
		ul(class="right hide-on-med-and-down")
			li
				a(href="") Home
					i(class="material-icons left") business
			li
				a(href="") Servicios
					i(class="material-icons left") assignment	
			li
				a(href="") Contacto
					i(class="material-icons left") contacts

	