div(class="row")
	div(
		role="navigation"
		class="navbar navbar-default"
	)
		ul(class="nav navbar-nav")
			li(class="active")
				a(href="") Este es un elemento
			li
				a(href="") Este es otro elemento
	