.my-navbar(class="row").margin15
	nav.position-fixed.blue-1(
		class="nav-wrapper"
	)
		a(href="#!" class="brand-logo")
			div(class="text-xs-center")
				img(src="img/logo.png" class="img-fluid")
		ul(class="right hide-on-med-and-down")
			li
				a(href="") Home
					i(class="material-icons left") business
			li
				a(href="") Servicios
					i(class="material-icons left") assignment	
			li
				a(href="") Contacto
					i(class="material-icons left") contacts

	