include collection/main 

mixin footer(footer)
	.footer(class='row')
		.col-one(class='col-xs-12')

			div(class='col-xs-3')
				+collection-footer(footer.col_one)

			div(class='col-xs-3')
				+collection-footer(footer.col_two)

			div(class='col-xs-3')
				+collection-footer(footer.col_three)

			.redes(class='col-xs-3')
				div(class='col-xs-12')
					p Senior Code una empresa de:

				div(class='col-xs-12')
					//-img(src='/img/descarga.jpg')
					p Aqui va otro mixin de redes-sociales

	div(class="row")
		div(class="col-xs-12")
			span @2016:Derechos reservados.
			span Senior Code