include ../../redes/main
include collection/main 

mixin footer(footer)
	.footer(class='row')
		.cols-footer(class='col-xs-12')

			.col-one(class='col-xs-4')
				div(class="col-xs-4")
					img(src="img/doctor.jpg" class="img-circle img-responsive")

				div(class="col-xs-8")
					span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente minima aliquam dolor nihil facere quis, quasi ab et iure, dolorum iusto, pariatur assumenda dignissimos, maiores.

			.col-two(class='col-xs-4')
				+collection-footer(footer.col_two)

			.redes.padding-10(class='col-xs-4')
				+redes(redes)

	.copyright(class="row")
		div(class="col-xs-12")
			div(class="col-xs-6")
				span Copyright @ 2016 Senior Code - Todos los derechos reservados- 
			div(class="col-xs-3")
				a(href="") Aviso de privacidad -
			div(class="col-xs-3")
				a(href="") Politicas de servicio