mixin redes(redes)
	div(class="row")
		h6 Comentanos tus experiencias 
		h6 en nuestras redes sociales
		a(
		href="https://www.facebook.com/alberto.mejiasonanes"
		target="_black"
		)
			img(src="../../img/icons/redes/facebook.png")
		a(
		href="https://twitter.com/almes828"
		target="_black"
		)
			img(src="../../img/icons/redes/twitter.png")

