mixin redes(redes)
	.redes(class="row")
		h6 Comentanos tus experiencias 
		h6 en nuestras redes sociales
		div(class="col-xs-12")
			a(
			href="https://www.facebook.com/alberto.mejiasonanes"
			target="_black"
			)
				img(src="../../img/icons/redes/facebook.png")
				span Facebook 
		div(class="col-xs-12")
			a(
			href="https://twitter.com/almes828"
			target="_black"
			)
				img(src="../../img/icons/redes/twitter.png")
				span Twitter

